<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<style>
  .jumbotron{
    margin-bottom: 0px;
  }
</style>
<body>
  {% include "exam/navbar.html" %}
<br>
<section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <h2 class="display-3 text-info">Система онлайн-экзаменов по физике</h2>
    <p class="display-4 d-none d-sm-block">Приходи на экзамен онлайн!</p>
    <p class="lead">Зарегистрируйтесь сейчас, чтобы начать свой первый онлайн-экзамен</p>

  
    <p><strong> Начните свое путешествие здесь:</strong></p>
    <a href="/student/studentsignup" class="btn btn-lg btn-info" style="padding-right: 35px; border-radius: 0%;"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Зарегистрироваться как студент</a>
    
    <br><br><br>
  </div>  
</section>
  {% include "exam/footer.html" %}


</body>

</html>
